@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0 120px;
}
.logo {
  width: 20px;
  height: 20px;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.chkbox {
  display: none;
}

button {
  color: #4186e0;
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  margin: 5px;
  border: 1px solid #4186e0;
  cursor: pointer;
}
label {
  cursor: pointer;
}

.genre-selected {
  background-color: #4186e0;
  color: white;
}

.slideshow-container {
  position: relative;
  margin: 50px;
}

.backdrop-img {
  width: 100%;
  opacity: 0.4;

  height: 500px;
  border-radius: 30px;
}
.poster-img {
  position: absolute;
  left: 30px;
  padding: 20px;
  height: 450px;
}
.movie-details {
  position: absolute;
  /* color: white; */
  text-shadow: 2px black;
  top: 30%;
  left: 30%;
  width: 500px;
}

.slider-btn {
  position: absolute;
  opacity: 0.7;
  top: 40%;
  right: 0;
  border-radius: 10px;
  /* width: 5px; */
  height: 5px;
}

.card-container {
  display: flex;
}

.movie-card {
  width: 170px;
}

.img-card {
  width: 150px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
}
.title-card {
  font-weight: 500;
  padding: 10px;
  font-size: 1.2em;
  height: 30px;
}
.date-card {
  padding: 10px;
  height: 10px;
}
.next-page {
  position: absolute;
  right: 0;
}
.type-title {
  display: inline;
  margin: 5px 15px;
}
.link-title {
  margin: 5px;
  float: right;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
}
